body {
	background-image:url('/T&D/desktop-1920x1080.jpg') ;
	color: #fff;
	font-family: Arial, sans-serif;
}

.container {
	margin: 50px auto;
	max-width: 600px;
	padding: 20px;
	border: 1px solid #444;
	box-shadow: 0 0 10px #000;
	text-align: center;
}

h1 {
	font-size: 36px;
	margin-bottom: 20px;
}

#time {
	font-size: 72px;
	margin-bottom: 20px;
}

#date {
	font-size: 24px;
}
